@import url("https://fonts.googleapis.com/css2?family=Dancing+Script:wght@400..700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Great+Vibes&display=swap");
@import url('https://fonts.googleapis.com/css2?family=DM+Sans:ital,opsz,wght@0,9..40,100..1000;1,9..40,100..1000&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@100..900&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:ital,wght@0,400..900;1,400..900&display=swap');



@tailwind base;
@tailwind components;
@tailwind utilities;



* {
  box-sizing: border-box;
}

.webkit-center {
  text-align: -webkit-center;
}

.font-outfit {
  font-family: "Outfit", sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
}

.playfair {
  font-family: "Playfair Display", serif;
}

.text-fade-black {
  color: #3d4349;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

.box-shadow {
  box-shadow: 0px 10px 15px -3px rgba(0, 0, 0, 0.1);
}



@layer utilities {
  .social-media-icon-style {
    @apply text-white border-2 w-10 flex justify-center p-2 rounded-full cursor-pointer hover:bg-pink-600 hover:border-pink-600 transition-all;
  }

  .link-style {
    @apply cursor-pointer hover:text-pink-600 hover:translate-x-1 transition-all;
  }

  .sideBar-navLink {
    @apply cursor-pointer hover:text-[#333] hover:font-semibold transition-all ease-linear hover:border-r-2 border-[#333] px-2 hover:bg-[#f4f4f4] py-4
  }

  .btn-purple {
    @apply rounded-lg px-8 py-2 bg-[#f472b6] text-white hover:scale-105 transition-all text-xl font-bold text-center
  }

  .no-scrollbar::-webkit-scrollbar {
    display: none;
  }

  /* Hide scrollbar for IE, Edge, and Firefox */
  .no-scrollbar {
    -ms-overflow-style: none;
    /* IE and Edge */
    scrollbar-width: none;
    /* Firefox */
  }
}

/* disable scroll bar */
.scroll-container::-webkit-scrollbar {
  display: none;
}

/* animation for product add to cart */
@keyframes fadeIn {
  from {
    opacity: 0;
    transform: translateY(-20px);
  }

  to {
    opacity: 1;
    transform: translateY(0);
  }
}

.animate-fade-in {
  animation: fadeIn 0.5s ease-out forwards;
}

.font-poppins {
  font-family: "Poppins", sans-serif;
}

.font-dm {
  font-family: "DM Sans", sans-serif;
}

.font-roboto {
  font-family: "Roboto", sans-serif;
}

.great-vibes-regular {
  font-family: "Great Vibes", cursive;
  font-weight: 400;
  font-style: normal;
}

.dancing-style {
  font-family: "Dancing Script", cursive;
  font-optical-sizing: auto;
  font-style: normal;
}

.scroll-down {
  header {
    transform: translate3d(0, -100%, 0);
  }
}

.scroll-up {
  header {
    filter: drop-shadow(0 -10px 20px rgb(170, 170, 170));
  }
}

.ant-carousel .slick-prev,
.ant-carousel .slick-prev:focus,
.ant-carousel .slick-prev:hover {
  left: 10px;
  z-index: 2;
  color: black;
}

.ant-carousel .slick-next,
.ant-carousel .slick-next:focus,
.ant-carousel .slick-next:hover {
  right: 10px;
  z-index: 2;
  color: black;
}

.ant-carousel .slick-dots li button {
  color: black;
  background-color: #e60544;
}


/* ButtonGroup.css */
.button-group button {
  padding: 10px 20px;
  margin: 5px;
  font-size: 16px;
  cursor: pointer;
  border: 1px solid #ccc;
  border-radius: 40px;
  background-color: #f4f4f4;
  transition: background-color 0.3s, color 0.3s;

}

.button-group button.active {
  background-color: #333333;
  color: white;
  border: none;
}

.button-group {
  scroll-behavior: smooth;
}


.button-group::-webkit-scrollbar {
  display: none;
}


.button-group button:hover:not(.active) {
  background-color: #e0e0e0;
}

.scrollbar-container {
  width: calc(-505px + 100vw);

}

.left-arrow,
.right-arrow {
  position: absolute;
  /* background: linear-gradient(to left, #f0f0f0 50%, transparent); */
}

.left-arrow {
  left: 0;
}

.right-arrow {
  right: 0;
}

/* Shop page custom carousel  */

/* .carousel {
  position: relative;
  width: 600px;
  margin: auto;
} */

.carousel-track {
  display: flex;
  transition: transform 0.5s ease-in-out;
}

.carousel-button {
  position: absolute;
  top: 86%;
  right: 5%;
  transform: translateY(-50%);
  background-color: #463b3e;
  color: white;
  border: none;
  padding: 15px;
  cursor: pointer;
  display: flex;
  gap: 20px;
  border-radius: 40px;
}

@media screen and (max-width: 600px) {
  .carousel-button {
    position: absolute;
    top: 86%;
    right: 5%;
    transform: translateY(-50%);
    background-color: #463b3e;
    color: white;
    border: none;
    padding: 5px;
    cursor: pointer;
    display: flex;
    gap: 10px;
    border-radius: 40px;
  }
  
}

.amoled-shadow {
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}

/* animations */

.slide-fwd-center {
	animation: slide-fwd-center 0.45s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
}


/**
 * ----------------------------------------
 * animation slide-fwd-center
 * ----------------------------------------
 */
 @keyframes slide-fwd-center {
  0% {
    transform: translateZ(0);
  }
  100% {
    transform: translateZ(160px);
  }
}


